<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caseyjbrooks.games" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_dice"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.clue.ClueActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.caseyjbrooks.games.MainActivity" />
        </activity>
        <activity
            android:name=".features.scorecard.ScorecardSetupActivity"
            android:label="@string/title_activity_scorecard_setup"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ScorecardTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.caseyjbrooks.games.MainActivity" />
        </activity>
        <activity
            android:name=".features.scorecard.ScorecardActivity"
            android:label="@string/title_activity_scorecard"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ScorecardTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.caseyjbrooks.games.MainActivity" />
        </activity>
    </application>

</manifest>
